<!-- About-->
{% load static %}
<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">QUIENES SOMOS</h2>
            <h3 class="section-subheading text-muted">Pasion por las paltas</h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'assets/img/about/1.jpg' %}" alt="" />
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2020</h4>
                        <h4 class="subheading">Inicio</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">El Comité de Paltas de Chile es una asociación independiente, que
                            representa a agricultores, productores, comercializadores y distribuidores chilenos, cuyo
                            propósito es fomentar el desarrollo sustentable de la industria y difundir sus buenas
                            prácticas.
                            Nuestra misión es promover el consumo de palta chilena en Chile y el mundo, además de
                            supervisar la calidad de la fruta que se exporta velando porque esta sea la mejor y cumpla
                            con los estándares ambientales correspondientes.</p>
                    </div>
                </div>
            </li>

        </ul>
    </div>
</section>